@media only screen and (max-width: 1200px) {
    .header__category {
        padding-left: 0px !important;
        margin-left: 18px !important;
    }

    .main-menu {
        display: none !important;
    }
}

@media only screen and (max-width: 700px) {
    .header__category {
        display: none !important;
    }

    .e-btn {
        height: 40px!important;
        line-height: 42px!important;
    }

}