ol {
  list-style-type: decimal;
  list-style-position: outside;
}

ul, menu {
  list-style-type: disc;
  list-style-position: outside;
}

li {
  list-style: inherit;
}

.chapter-editor-layout {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.editor-block {
  width: 100%;
}

.mainEditorBox{
  max-height:450px;
  overflow-y: scroll;
}

@media (min-width: 1200px) {
  .chapter-editor-layout {
    flex-wrap: nowrap;
  }

  .editor-block {
    width: 50%;
  }
}