.textTitle{
    font-size: 25px;
}

.addButton{
    background-color:rgb(30, 162, 112);
}

.custom-select1 {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px 10px;
  font-size: 14px;
  background-color: #fff;
  color: #333;
  outline: none;
  transition: border-color 0.2s ease;
}

.custom-select1:focus {
  border-color: #0070f3;
  box-shadow: 0 0 0 2px rgba(0, 112, 243, 0.2);
}
